
        <div class="form-container">
            <form action="post" class="main-form" autocomplete="off">

                <div class="main-form-name">
                    <div class="input-group">
                        <label for="first-name" class="input-group__label">
                            Nombre:
                        </label>
                        <input id="first-name" class="input-group__input" type="text" placeholder="Nombre">
                    </div>
                </div>

                <div class="main-form-id">
                    <div class="input-group">
                        <label for="email" class="input-group__label">
                            e-mail:
                        </label>
                        <input id="email" class="input-group__input" type="email" placeholder="e-mail">
                    </div>
                </div>

                <div class="main-form-group__textarea">
                    <label for="comments" class="input-group__label">
                        Comentarios
                    </label>
                    <textarea minlength="10" maxlength="2000" id="comments" class="long-description" name="comments"></textarea>
                </div>

                <div class="form-buttons">
                    <input class="form-buttons__button" type="reset" value="Resetear">
                    <input class="form-buttons__button" type="submit" value="Enviar">
                </div>
            </form>
        </div>


