<section class="section-cards">
    <header class="section-cards__header">
        <h1>Resultados:</h1>
        <p> 1-12 de 12</p>
    </header>

    <div class="cards-container">

    </div>

    <footer class="section-cards__footer">
        <p>Este fin de año aprovechá promociones en regalos para toda la familia!</p>
        <p>Aprovechá el envío sin cargo en compras superiorers a los $ 7000 ! ! !</p>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"></script>  

    <script src="./js/module/cards.js"></script>
    <script src="./js/module/inicio.js"></script>

</section>

