<div class="__nosotros">
    
<img src="../img/nosotros.jpg" alt="fondo de pantalla" class="__nosotros-img">
<div class="__nosotros-parrafo">
<p>Mi nombre es Germán Gonzalo Rojo, soy alumno de Full Stack Engineer y soy bilingüe.
    Es mi primer e-commerce y espero mejorar en el futuro. 
    Planeo ampliar mis conocimientos en programación y diseño web en este y otros proyectos.
</p>
<p>Me pueden contactar a través de mis redes en:</p>
</div>

<div class="__nosotros-links">
    <a class="fa-brands fa-linkedin" href="https://www.linkedin.com/in/germ%C3%A1n-rojo-b51aa224"></a>
    <a class="fa-brands fa-github" href="https://github.com/aredboy/ecommerce.git"></a>
</div>
</div>