.section-cards {
    padding-top: 14em;

    @media (min-width: 768px) {
        padding-top: 5em;
    }
}

.section-cards__header{
    color: #503c65;
    padding: .5em ;
}

.cards-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    justify-content: center;
}

.card {
    width: 200px;
    max-width: 300px;
    flex-grow: 1;
    box-shadow: 
    0 1px 5px rgba(0,0,0,0.5),
    0 0px 3px rgba(0,0,0,0.5);
    border-radius: .8em;
    transition: .2s;
    background-color: #B9ECE6;
    &.comprado {
        background-color: #f7be8f;
    }

    &__link-add {
    position: absolute;
    z-index: 1;
    text-decoration: none;
    background-color: #E9C46A;
    font-size: .8em;
    margin: 0 0 0 0;
    padding: .3em;
    border-radius: .9em 0 .8em 0;
    cursor: pointer;
    &--added{
        pointer-events: none;
    }
    }

    &__link-add:hover {
    background-color: #E2B43E;
    color: #503c65;
}


    &__article {
    position: relative;
}

    &__image-container {
    overflow: hidden;
}

    &__image {
    position: relative;
    margin: 2em 1.4em .5em 1.4em;
    width: 80%;
    flex-shrink: 1;
}

    &__content {
    flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-flow: column nowrap;
    padding: .3em .5em;
}

    &__heading {
    color: #442105;
    margin: 0 0 .5em .5em;
    font-weight: 500;
}

    &__description {
    font-size: .8em;
    color: #0E191E;
}

    &__price {
    font-size: .9em;
    color: #442105;
    font-weight: 600;
    box-sizing: border-box;
    margin-block-start: 1em;
    margin-block-end: .5em;
    padding-left: 9em;
}

    &__id {
        display: none;
    }

}

.section-cards__footer {
    margin: 4em 1em;
    color: #0E191E;
}

