
.cart-modal{
    
    &__back--visible {
        background-color: hsla(0, 0%, 0%, 0.0);
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -100;
        display: block;
    }

    &__close {
        position: absolute;
        top: 2px;
        right: 8px;
        font-size: 2.2em;
        color: #461276e6;
        cursor: pointer;
        z-index: 3;

        &:hover {
            color: #B9ECE6;
        }
    }

    &__total {
        font-size: 1.5em;
        font-weight: 1000;
        line-height: 1.2;
        font-variant: small-caps;
        letter-spacing: 2px;
        color: #008f7e;

        @media (min-width: 768px) {
            font-size: 2.5em;
        }
    }

    
    &__price {
        color: #252525;
        @media (min-width: 768px) {
            font-size: 2em;
        }
    }
    
    &__buy {
        width: 100%;
        max-width: 7em;
        background: #03b39e;
        border: 1px solid #03b39e;
        border-radius: 0.7em;
        box-shadow: rgb(0 0 0 / 10%) 1px 2px 4px;
        color: rgb(113 64 159 / 90%);
        cursor: pointer;
        font: inherit;
        font-size: 1em;
        font-weight: 1000;
        margin: 0 0 0 0.3em;
        padding: 1em 1em;
        transition: .5s;
        
        &:hover {
            background-color: #B9ECE6;
            border: 1px solid #B9ECE6;
        }
        &:active {
            transform: scale(.97);
            background-color: #008f7e;
            border: 1px solid #008f7e;
        }
    
        &:active {
            opacity: .5;
        }
    }

    &__content {
    display: none;
    background-color: #f7be8ff0;
    position: absolute;
    left: 6%;
    top: 290%;
    color: #000;
    width: 90%;
    z-index: 10;
    border-radius: .8em;
    padding: 30px;
    overflow-y: auto;
    max-height: 500px;
    transition: 1s;


    @media  (min-width:768px) {
        top: 190%;
        width: 60%;
        left: 20%;
        }   
    
    @media (min-height: 1024px) {
        max-height: 1000px;
        }

    &--visible {
        display: block;
    }

    &--transform-in {
        transform: translateY(110%);
        transition: transform .5s;
    }

    &--transform-out {
        transform: translateY(-200px);
        transition: transform .2s;
    }

}
}